#homepage {
  background-color: rgba(3, 2, 3, 0.7);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../public/bg.jpeg");
}

#titleServer {
  color: white;
  text-align: center;
  padding-top: 12%;
}

#subTitle {
  color: white;
  text-align: center;
  font-style: bold;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-input-placeholder {
  text-align: center;
}

button {
  margin-left: 5%;
  border-radius: 5px;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  font-size: large;
}

#enterFileNameField {
  padding-top: 5%;
  padding-left: 37%;
}

video {
  padding-left: 10%;
  text-align: center;
  z-index: 9;
  width: 640;
  height: 480;
  padding-top: 5%;
}

#label-container {
  color: white;
  padding-top: 10%;
  padding-left: 10%;
}

#teamIntro {
  color: white;
  text-align: center;
  font-size: 20px;
}
